<div class="container-fluid">
    <div class="row">

        <div class="col-md-6 mt-5">
            <h1>
                EMGods
            </h1>
            <p style="text-align: justify;">
                O EMGods é um projeto inovador criado para otimizar o desempenho físico e acelerar a recuperação de
                lesões, combinando o conhecimento científico sobre exercícios com tecnologia de ponta. Utilizando
                sensores EMG (Eletromiografia de Superfície), o sistema monitora e melhora a contração muscular,
                oferecendo um acompanhamento personalizado e extremamente preciso. Nosso foco é transformar a
                reabilitação física em uma jornada contínua de progresso, proporcionando resultados mais rápidos e
                eficazes para cada indivíduo.
            </p>
            <ul style="text-align: justify;">
                <li>
                    <Strong>Monitoramento Preciso da Atividade Muscular:</Strong> Os sensores EMG fornecem dados em
                    tempo
                    real sobre a contração muscular, permitindo um acompanhamento detalhado da atividade de cada músculo
                    durante o processo de reabilitação.
                </li>
                <li>
                    <Strong>Acompanhamento Personalizado:</Strong> Com base nos dados coletados, é possível criar planos
                    de reabilitação totalmente personalizados, adaptando o tratamento às necessidades específicas de
                    cada paciente.
                </li>
                <li>
                    <Strong>Feedback Imediato para Melhorar a Performance:</Strong> O sistema oferece feedback
                    instantâneo sobre os movimentos musculares, ajudando o paciente a ajustar sua técnica e alcançar
                    melhores resultados em menos tempo.
                </li>
                <li>
                    <Strong>Detecção Precoce de Problemas Musculares:</Strong> Sensores EMG podem identificar padrões
                    anormais na atividade muscular, permitindo a detecção precoce de problemas como fadiga ou
                    desequilíbrios musculares antes que se tornem lesões graves.
                </li>
            </ul>
            <div class="row justify-content-end pr-4">
                <div class="col-md-3 mt-1">
                    <a href="/" class="btn-ctc">Saiba Mais</a>
                </div>
                <div class="col-md-2 mt-2">
                    <a href="/" class="btn-ctc">Contato</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="public/img/icon/interno.png" alt="">
        </div>
    </div>
    <hr>
    <h2 style="text-align: center;">Benefícios</h2>
    <div class="row" style="text-align: center;">
        <div class="col-md-4 box-bfc">
            <img src="public/img/icon/melhor grafico.png" alt="">
            <h3>Melhora de performance</h3>
        </div>
        <div class="col-md-4 box-bfc">
            <img src="public/img/icon/relatorio.png" alt="">
            <h3>Relatorios personalizados</h3>
        </div>
        <div class="col-md-4 box-bfc">
            <img src="public/img/icon/atividade.png" alt="">
            <h3>Estudo Muscular</h3>
        </div>
    </div>
    <hr>
    <h2 style="text-align: center;">Como usar</h2>
    <div class="container-fluid box">
        <div class="row" style="text-align: center;">
            <div class="col-md-4 box-icon">
                <img src="public/img/icon/peito.png" alt="">
                <h5>Peito</h5>
            </div>
            <div class="col-md-4 box-icon">
                <img src="public/img/icon/ombro.png" alt="">
                <h5>Ombro</h5>
            </div>
            <div class="col-md-4 box-icon">
                <img src="public/img/icon/costas.png" alt="">
                <h5>Costas</h5>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-md-4 box-icon">
                <img src="public/img/icon/abdomen.png" alt="">
                <h5>Abdomen</h5>
            </div>
            <div class="col-md-4 box-icon">
                <img src="public/img/icon/triceps.png" alt="">
                <h5>Triceps</h5>
            </div>
            <div class="col-md-4 box-icon">
                <img src="public/img/icon/biceps.png" alt="">
                <h5>Biceps</h5>
            </div>

        </div>
        <div class="row" style="text-align: center;">
            <div class="col-md-4 box-icon">
                <img src="public/img/icon/perna.png" alt="">
                <h5>Perna</h5>
            </div>
            <div class="col-md-4 box-icon">
                <img src="public/img/icon/coxa.png" alt="">
                <h5>Coxa</h5>
            </div>
            <div class="col-md-4 box-icon">
                <img src="public/img/icon/gluteo.png" alt="">
                <h5>Glúteo</h5>
            </div>
        </div>
    </div>
    <hr>
    <h2 style="text-align: center;">Fale conosco</h2>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="box-cont mb-2">
                📍<Strong>Endereço:</Strong> R. Joaquim Távora, 1240 - Vila Mariana <br>
                📞<Strong>Telefone:</Strong> (99)9999-9999 <br>
                ✉️<Strong>E-mail:</Strong> contato@emgods.com
            </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.4787447627577!2d-46.64695639055927!3d-23.58715747869361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59890047d255%3A0xa989be78fddf062a!2sESPM%20Tech!5e0!3m2!1spt-BR!2sbr!4v1729689897144!5m2!1spt-BR!2sbr"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
            <br>
            <Strong>Siga-nos nas redes sociais:</Strong>
            <div class="row justify-content-start">
                <div class="col-md-2 icon-rs">
                    <a href="https://www.facebook.com/" target="_blank"><img src="public/img/icon/facebook.svg" alt=""
                            style="width: 50px;"></a>
                </div>
                <div class="col-md-2 icon-rs">
                    <a href="https://www.instagram.com/" target="_blank"><img src="public/img/icon/instagram.svg" alt=""
                            style="width: 50px;"></a>
                </div>
                <div class="col-md-2 icon-rs">
                    <a href="https://www.linkedin.com/" target="_blank"><img src="public/img/icon/linkedin.svg" alt=""
                            style="width: 50px;"></a>
                </div>
            </div>

            </div>
            <div class="col-md-6">
                <div class="mb-3 mt-2">
                    <label for="exampleFormControlInput1" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">Telefone:</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="(99)9999-9999">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Comentario:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
        </div>
    </div>


    <style>
        .icon-rs{
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 0;
        }
        .box-icon img {
            width: 100px;
            height: 100px;
            border: 1px solid #000;
            border-radius: 7px;
            box-shadow: 1px 1px 1px 1px #bababa;
            padding: 10px;
        }

        .box-icon h5 {
            margin: 10px;
        }

        .box-icon img:hover {
            background-color: #f0f0f0;
            transform: scale(1.05);
            transition: transform 0.3s ease;

        }

        .box {
            margin-top: 20px;
        }

        .box-icon {
            margin-top: 20px;
        }

        .box-icon img {
            width: 100px;
            height: 100px;
            border: 1px solid #000;
            border-radius: 7px;
            box-shadow: 1px 1px 1px 1px #bababa;
            padding: 10px;
        }

        .box-icon h5 {
            margin: 10px;
        }

        .box-icon img:hover {
            background-color: #f0f0f0;
            transform: scale(1.05);
            transition: transform 0.3s ease;
        }

        .box-bfc {
            margin-top: 20px;

        }

        .box-bfc img {
            width: 100px;
            height: 100px;
            padding: 10px;
        }

        .btn-ctc {
            background-color: #000;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;

        }

        .btn-ctc:hover {
            background-color: #787777;
            color: #000;
            transition: 0.5s;
        }
    </style>