<div class="container-fluid">
    <div class="row">

        <div class="col-md-5 mt-5 offset-1">
            <h1 class="titulotopo mb-3">
                EMGods
            </h1>
            <p style="text-align: justify;justify-content:center">
                O EMGods é um projeto inovador criado para otimizar o desempenho físico e acelerar a recuperação de
                lesões, combinando o conhecimento científico sobre exercícios com tecnologia de ponta. Utilizando
                sensores EMG (Eletromiografia de Superfície), o sistema monitora e melhora a contração muscular,
                oferecendo um acompanhamento personalizado e extremamente preciso. Nosso foco é transformar a
                reabilitação física em uma jornada contínua de progresso, proporcionando resultados mais rápidos e
                eficazes para cada indivíduo.
            </p>
            <ul style="text-align: justify;">
                <li>
                    <Strong>Monitoramento Preciso da Atividade Muscular:</Strong> Os sensores EMG fornecem dados em
                    tempo
                    real sobre a contração muscular, permitindo um acompanhamento detalhado da atividade de cada músculo
                    durante o processo de reabilitação.
                </li>
                <li>
                    <Strong>Acompanhamento Personalizado:</Strong> Com base nos dados coletados, é possível criar planos
                    de reabilitação totalmente personalizados, adaptando o tratamento às necessidades específicas de
                    cada paciente.
                </li>
                <li>
                    <Strong>Feedback Imediato para Melhorar a Performance:</Strong> O sistema oferece feedback
                    instantâneo sobre os movimentos musculares, ajudando o paciente a ajustar sua técnica e alcançar
                    melhores resultados em menos tempo.
                </li>
                <li>
                    <Strong>Detecção Precoce de Problemas Musculares:</Strong> Sensores EMG podem identificar padrões
                    anormais na atividade muscular, permitindo a detecção precoce de problemas como fadiga ou
                    desequilíbrios musculares antes que se tornem lesões graves.
                </li>
            </ul>
            <div class="row justify-content-end ">
                <div class="col-md-5 mt-3 pr-4">
                    <a href="/" class="btn-ctc">Saiba Mais</a>
                </div>
                <div class="col-md-3 mt-3 pr-4">
                    <a href="/" class="btn-ctc">Contato</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="public/img/icon/interno.png" alt="">
        </div>
    </div>
    <div style="padding: 10px;"></div>
    <hr>
<div style="padding:10px"></div>
    <h2 class="titulo">Benefícios</h2>
    <div class="row" style="text-align: center;">
        <div class="col-md-4 box-bfc">
            <img src="public/img/icon/melhor grafico.png" alt="">
            <h3>Melhora de performance</h3>
        </div>
        <div class="col-md-4 box-bfc">
            <img src="public/img/icon/relatorio.png" alt="">
            <h3>Relatorios personalizados</h3>
        </div>
        <div class="col-md-4 box-bfc">
            <img src="public/img/icon/atividade.png" alt="">
            <h3>Estudo Muscular</h3>
        </div>
    </div>
<div style="padding:10px"></div>
    <hr>
    <h2 class="titulo mt-4">Como usar</h2>
    <div class="container-fluid box">
        <div class="row" style="text-align: center;">
            <!-- Triceps -->
            <div class="col-md-4 box-icon">
                <button type="button" class="btn-modal" data-toggle="modal" data-target="#exampleModalTriceps">
                    <img src="public/img/icon/triceps.png" alt="">
                    <h5>Triceps</h5>
                </button>
                <div class="modal fade" id="exampleModalTriceps" tabindex="1" role="dialog"
                    aria-labelledby="exampleModalLabelTriceps" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabelTriceps">Triceps</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Conteúdo sobre Triceps.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ombro -->
            <div class="col-md-4 box-icon">
                <button type="button" class="btn-modal" data-toggle="modal" data-target="#exampleModalOmbro">
                    <img src="public/img/icon/ombro.png" alt="">
                    <h5>Ombro</h5>
                </button>
                <div class="modal fade" id="exampleModalOmbro" tabindex="1" role="dialog"
                    aria-labelledby="exampleModalLabelOmbro" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabelOmbro">Ombro</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Conteúdo sobre Ombro.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Biceps -->
            <div class="col-md-4 box-icon">
                <button type="button" class="btn-modal" data-toggle="modal" data-target="#exampleModalBiceps">
                    <img src="public/img/icon/biceps.png" alt="">
                    <h5>Biceps</h5>
                </button>
                <div class="modal fade" id="exampleModalBiceps" tabindex="1" role="dialog"
                    aria-labelledby="exampleModalLabelBiceps" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabelBiceps">Biceps</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Conteúdo sobre Biceps.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="text-align: center;">
            <!-- Peito -->
            <div class="col-md-4 box-icon">
                <button type="button" class="btn-modal" data-toggle="modal" data-target="#exampleModalPeito">
                    <img src="public/img/icon/peito.png" alt="">
                    <h5>Peito</h5>
                </button>
                <div class="modal fade" id="exampleModalPeito" tabindex="1" role="dialog"
                    aria-labelledby="exampleModalLabelPeito" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabelPeito">Peito</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Conteúdo sobre Peito.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Abdomen -->
            <div class="col-md-4 box-icon">
                <button type="button" class="btn-modal" data-toggle="modal" data-target="#exampleModalAbdomen">
                    <img src="public/img/icon/abdomen.png" alt="">
                    <h5>Abdomen</h5>
                </button>
                <div class="modal fade" id="exampleModalAbdomen" tabindex="1" role="dialog"
                    aria-labelledby="exampleModalLabelAbdomen" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabelAbdomen">Abdomen</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Conteúdo sobre Abdomen.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Costas -->
            <div class="col-md-4 box-icon">
                <button type="button" class="btn-modal" data-toggle="modal" data-target="#exampleModalCostas">
                    <img src="public/img/icon/costas.png" alt="">
                    <h5>Costas</h5>
                </button>
                <div class="modal fade" id="exampleModalCostas" tabindex="1" role="dialog"
                    aria-labelledby="exampleModalLabelCostas" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabelCostas">Costas</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Conteúdo sobre Costas.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="text-align: center;">
            <!-- Perna -->
            <div class="col-md-4 box-icon">
                <button type="button" class="btn-modal" data-toggle="modal" data-target="#exampleModalPerna">
                    <img src="public/img/icon/perna.png" alt="">
                    <h5>Perna</h5>
                </button>
                <div class="modal fade" id="exampleModalPerna" tabindex="1" role="dialog"
                    aria-labelledby="exampleModalLabelPerna" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabelPerna">Perna</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Conteúdo sobre Perna.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Glúteo -->
            <div class="col-md-4 box-icon">
                <button type="button" class="btn-modal" data-toggle="modal" data-target="#exampleModalGluteo">
                    <img src="public/img/icon/gluteo.png" alt="">
                    <h5>Glúteo</h5>
                </button>
                <div class="modal fade" id="exampleModalGluteo" tabindex="1" role="dialog"
                    aria-labelledby="exampleModalLabelGluteo" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabelGluteo">Glúteo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Conteúdo sobre Glúteo.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Coxa -->
            <div class="col-md-4 box-icon">
                <button type="button" class="btn-modal" data-toggle="modal" data-target="#exampleModalCoxa">
                    <img src="public/img/icon/coxa.png" alt="">
                    <h5>Coxa</h5>
                </button>
                <div class="modal fade" id="exampleModalCoxa" tabindex="1" role="dialog"
                    aria-labelledby="exampleModalLabelCoxa" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabelCoxa">Coxa</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Conteúdo sobre Coxa.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <hr>
    <h2 class="py-4 titulo">Fale conosco</h2>
    <div class="row mt-4">
        <div class="col-lg-5 offset-1">
            <div class="box-cont mb-2">
                📍<Strong>Endereço:</Strong> R. Joaquim Távora, 1240 - Vila Mariana <br>
                📞<Strong>Telefone:</Strong> (99)9999-9999 <br>
                ✉️<Strong>E-mail:</Strong> contato@emgods.com
            </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.4787447627577!2d-46.64695639055927!3d-23.58715747869361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59890047d255%3A0xa989be78fddf062a!2sESPM%20Tech!5e0!3m2!1spt-BR!2sbr!4v1729689897144!5m2!1spt-BR!2sbr"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
            <br>
            <Strong>Siga-nos nas redes sociais:</Strong>
            <div class="row justify-content-start">
                <div class="col-md-2 icon-rs">
                    <a href="https://www.facebook.com/" target="_blank"><img src="public/img/icon/facebook.svg" alt=""
                            style="width: 50px;"></a>
                </div>
                <div class="col-md-2 icon-rs">
                    <a href="https://www.instagram.com/" target="_blank"><img src="public/img/icon/instagram.svg" alt=""
                            style="width: 50px;"></a>
                </div>
                <div class="col-md-2 icon-rs">
                    <a href="https://www.linkedin.com/" target="_blank"><img src="public/img/icon/linkedin.svg" alt=""
                            style="width: 50px;"></a>
                </div>
            </div>

        </div>
        <div class="col-lg-5">
            <div class="mb-3 mt-2">
                <label for="exampleFormControlInput1" class="form-label">Email:</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Telefone:</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="(99)9999-9999">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Comentario:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </div>
</div>

<%- contentFor("espaco-head") %>

<style>

    body{
        font-family: Poppins;
    }

    .icon-rs {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0;
    }

    .box-icon img {
        width: 100px;
        height: 100px;

    }

    .box-icon h5 {
        margin: 10px;
    }

    .box {
        margin-top: 20px;
    }

    .box-icon {
        margin-top: 20px;
    }

    .box-bfc {
        margin-top: 20px;

    }

    .box-bfc img {
        width: 100px;
        height: 100px;
        padding: 10px;
    }

    .btn-ctc {
        background-color: #000;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;

    }

    .btn-ctc:hover {
        background-color: #787777;
        color: #000;
        transition: 0.5s;
    }

    .btn-modal {
        border: 1px solid blue;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        background-color: transparent;
    }

    .btn-modal:hover {
        background-color: #96b6d8;
        color: #fff;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .titulotopo{
        text-align: center;
        font-weight: bold;
        font-family: Lato;
        font-size: 55px;
    }

    .titulo{
        text-align: center;
        font-weight: bold;
        font-family: Poppins;
        font-size: 45px;
    }

    
 
</style>