<div class = "container-fluid"> 

    <h1 style="text-align: center; padding-bottom: 10px;">Relatório</h1>
    <p style= "text-align: justify;"> Relatório Médico analisando os dados EMG coletados</p>

</div>